<% provide(:title, t("customers.index.title")) %>

<section id="navbar">

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
		<%= link_to t("customers.title"), "#", :class => "brand" %>
        <div class="nav-collapse">
          <ul class="nav">
			    <li class="active"><%= link_to t("customers.index.title"), customers_path %></li>
			    <li class=""><%= link_to t("customers.new.link"), new_customer_path %></li>
          </ul>
          
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

</section>



<div class="row">
	<div class="span9 offset1">
	  <%= form_tag customers_path, :class => "well form-search" do %>
		<fieldset>
		  <legend><%= t("customers.index.title") %></legend>
		  <div class="row">
			<div class="span4">
				
			  <div class="control-group">
	            <%= label_tag :names, t("helpers.label.customers.search.names"), :class => "control-label" %>
	            <div class="controls">
		          <%= search_field :customer, :name %>
	            </div>
	          </div>
			  
			  <div class="control-group">
	            <%= label_tag :names, t("helpers.label.customers.search.segment"), :class => "control-label" %>
	            <div class="controls">
		          <%= text_field_tag :names %>
	            </div>
	          </div>
			   
			</div>
			<div class="span4">
			aaaa
			</div>
		  </div>
		</fieldset>
	  <% end %>
	</div>
</div>