<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @business_activit.name %>
</p>

<p>
  <b>Disable:</b>
  <%= @business_activit.disable %>
</p>


<%= link_to 'Edit', edit_business_activit_path(@business_activit) %> |
<%= link_to 'Back', business_activits_path %>
